
Neuron_Type/Copy_of_TestGatingVar_htype.m
Neuron_Type/AType_HType.m
Neuron_Type/Copy_of_dPrV_barellette.m
Neuron_Type/Copy_of_dPrV_interbarellette.m
Neuron_Type/Copy_of_TestGatingVar_Atype.m
Neuron_Type/nemeTest.m
Neuron_Type/TestGatingVar_Atype.m
Neuron_Type/TestGatingVar_htype.m
Neuron_Type/TestGatingVar_Ttype.m
Neuron_Type/Thalamic_relay_cells.m
